body {
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction:column;
    margin:10px auto;
}

.container {
    display: flex;
    flex-direction:column;
    margin:10px auto;
    align-items:center;
    justify-content:center;
}

.image-wrapper {
    width: 450px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    align-items:center;
    justify-content:center;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.questionWrapper {
    padding: 10px;
    border: 2px solid gold;
    align-items:center;
    justify-content:center;
    margin: 10px auto;
}
a {
    font-size: 14px;
    color: midnightblue;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: gold; /* Gold underline */
    text-decoration-thickness: 3px; 
}

a:hover {
    color: #FFD700; /* Gold on hover (optional) */
    text-decoration-color: #191970; /* Midnight blue underline on hover (optional) */
}
